### 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

In [2]:
sales=pd.read_csv('sales.csv')

## 데이터 전처리

## 이상치 삭제하기(item_price, item_cnt_day가 0보다 같거나 작은거 삭제)  
## 년,월,일 data를 분리하기 (년/월/일)  
## 수입(income),연일(y_m),월일(m_d) 데이터 만들기

In [3]:
sales.columns

Index(['date', 'shop_id', 'item_id', 'item_price', 'item_cnt_day'], dtype='object')

In [4]:
sales[sales['item_price'] <= 0]

              date  shop_id  item_id  item_price  item_cnt_day
484683  15.05.2013       32     2973        -1.0           1.0

In [5]:
sales[sales['item_cnt_day'] <= 0]

               date  shop_id  item_id  item_price  item_cnt_day
2        05.01.2013       25     2552       899.0          -1.0
148      23.01.2013       25     2321       999.0          -1.0
175      07.01.2013       25     2199      1449.0          -1.0
807      02.01.2013       25     2330       599.0          -1.0
1041     13.01.2013       25     5034      1989.0          -1.0
...             ...      ...      ...         ...           ...
2934243  26.10.2015       25     3917       449.0          -1.0
2934462  18.10.2015       25     4896      6398.0          -1.0
2935263  05.10.2015       25    10039       249.0          -1.0
2935643  16.10.2015       25     7893      2990.0          -1.0
2935779  07.10.2015       25     7087       999.0          -1.0

[7356 rows x 5 columns]

In [38]:
sales=sales.drop(sales[sales['item_cnt_day'] <= 0].index)

In [7]:
sales=sales.drop(sales[sales['item_price'] <= 0].index)

In [8]:
#sales['date2']=pd.to_datetime(sales['date'])

In [9]:
#워닝 안뜨게 하기
#pd.to_datetime(sales['date'],format='%d,%m,%y')

In [10]:
sales.shape

(2928492, 5)

In [11]:
sales[['day','month','year']]=sales['date'].str.split('.',expand=True)
sales['y_m']=sales['year']+ '.' +sales['month']
sales['m_d']=sales['month']+ '.' +sales['day']

In [12]:
#sales['year']=sales['date2'].dt.year

In [13]:
#sales['month']=sales['date2'].dt.month

In [14]:
#sales['day']=sales['date2'].dt.day

In [15]:
#sales['y_m']=sales['year'].astype(str)+ '.' +sales['month'].astype(str).str.zfill(2)

In [16]:
sales

,date,shop_id,item_id,item_price,item_cnt_day,day,month,year,y_m,m_d
0,02.01.2013,59,22154,999.00,1.0,02,01,2013,2013.01,01.02
1,03.01.2013,25,2552,899.00,1.0,03,01,2013,2013.01,01.03
3,06.01.2013,25,2554,1709.05,1.0,06,01,2013,2013.01,01.06
4,15.01.2013,25,2555,1099.00,1.0,15,01,2013,2013.01,01.15
5,10.01.2013,25,2564,349.00,1.0,10,01,2013,2013.01,01.10
...,...,...,...,...,...,...,...,...,...,...
2935844,10.10.2015,25,7409,299.00,1.0,10,10,2015,2015.10,10.10
2935845,09.10.2015,25,7460,299.00,1.0,09,10,2015,2015.10,10.09
2935846,14.10.2015,25,7459,349.00,1.0,14,10,2015,2015.10,10.14
2935847,22.10.2015,25,7440,299.00,1.0,22,10,2015,2015.10,10.22
2935848,03.10.2015,25,7460,299.00,1.0,03,10,2015,2015.10,10.03

In [1]:
sales['m_d']=sales['month'].astype(str).str.zfill(2)+ '.' +sales['day'].astype(str).str.zfill(2)

NameError: name 'sales' is not defined

In [18]:
sales

,date,shop_id,item_id,item_price,item_cnt_day,day,month,year,y_m,m_d
0,02.01.2013,59,22154,999.00,1.0,02,01,2013,2013.01,01.02
1,03.01.2013,25,2552,899.00,1.0,03,01,2013,2013.01,01.03
3,06.01.2013,25,2554,1709.05,1.0,06,01,2013,2013.01,01.06
4,15.01.2013,25,2555,1099.00,1.0,15,01,2013,2013.01,01.15
5,10.01.2013,25,2564,349.00,1.0,10,01,2013,2013.01,01.10
...,...,...,...,...,...,...,...,...,...,...
2935844,10.10.2015,25,7409,299.00,1.0,10,10,2015,2015.10,10.10
2935845,09.10.2015,25,7460,299.00,1.0,09,10,2015,2015.10,10.09
2935846,14.10.2015,25,7459,349.00,1.0,14,10,2015,2015.10,10.14
2935847,22.10.2015,25,7440,299.00,1.0,22,10,2015,2015.10,10.22
2935848,03.10.2015,25,7460,299.00,1.0,03,10,2015,2015.10,10.03

In [19]:
sales['income']=sales['item_cnt_day']*sales['item_price']

In [20]:
### 년월 만들기
sales[['day','month','year']]=sales['date'].str.split('.',expand=True)
sales['y_m']=sales['year']+ '.' +sales['month']
sales['m_d']=sales['month']+ '.' +sales['day']

In [21]:
sales['year'].value_counts()

2013    1264490
2014    1053211
2015     610791
Name: year, dtype: int64

In [22]:
sales['y_m'].value_counts()

2013.12    142921
2014.12    130489
2013.03    121053
2013.01    115338
2013.02    108326
2013.08    104495
2013.07    100350
2013.06    100202
2014.01     99009
2013.11     96503
2013.09     95918
2013.10     93938
2013.04     93865
2014.03     92530
2013.05     91581
2014.02     89550
2015.01     88199
2014.08     86427
2014.11     86225
2014.06     82215
2014.10     79169
2014.07     78554
2014.05     78382
2014.04     77718
2014.09     72943
2015.02     71595
2015.03     69766
2015.08     56913
2015.04     56157
2015.07     55420
2015.06     54497
2015.05     54415
2015.10     53386
2015.09     50443
Name: y_m, dtype: int64

In [23]:
sales['m_d'].value_counts()

01.02    18584
12.30    18412
02.22    17695
01.03    17059
02.23    16775
         ...
11.26     4406
11.27     4332
11.11     4239
12.02     4211
11.12     4019
Name: m_d, Length: 365, dtype: int64

In [24]:
### 30일까지 있는 달이 있기 때문에 31일이 가장 적다
sales['day'].value_counts()

02    103081
07    102064
23    101117
22    101105
08    100718
21    100004
28     99576
27     98743
03     98725
06     97808
30     97209
20     96777
26     95907
05     95158
19     94716
04     94192
01     94182
25     93228
24     93113
16     92631
15     92399
17     92205
12     92099
14     91841
09     91775
13     90780
29     90709
18     90389
10     89838
11     88964
31     67439
Name: day, dtype: int64

In [25]:
sales['y_m'].sort_values().unique()

array(['2013.01', '2013.02', '2013.03', '2013.04', '2013.05', '2013.06',
       '2013.07', '2013.08', '2013.09', '2013.10', '2013.11', '2013.12',
       '2014.01', '2014.02', '2014.03', '2014.04', '2014.05', '2014.06',
       '2014.07', '2014.08', '2014.09', '2014.10', '2014.11', '2014.12',
       '2015.01', '2015.02', '2015.03', '2015.04', '2015.05', '2015.06',
       '2015.07', '2015.08', '2015.09', '2015.10'], dtype=object)

In [26]:
sales_mapping={}
for i,j in enumerate(sales['y_m'].sort_values().unique()):
    sales_mapping[j]=i+1
    print(i,j)

0 2013.01
1 2013.02
2 2013.03
3 2013.04
4 2013.05
5 2013.06
6 2013.07
7 2013.08
8 2013.09
9 2013.10
10 2013.11
11 2013.12
12 2014.01
13 2014.02
14 2014.03
15 2014.04
16 2014.05
17 2014.06
18 2014.07
19 2014.08
20 2014.09
21 2014.10
22 2014.11
23 2014.12
24 2015.01
25 2015.02
26 2015.03
27 2015.04
28 2015.05
29 2015.06
30 2015.07
31 2015.08
32 2015.09
33 2015.10

In [27]:
y_m_mapping={j:i+1 for i,j in enumerate(sales['y_m'].sort_values().unique())}##comprehesion

In [28]:
y_m_mapping

{'2013.01': 1,
 '2013.02': 2,
 '2013.03': 3,
 '2013.04': 4,
 '2013.05': 5,
 '2013.06': 6,
 '2013.07': 7,
 '2013.08': 8,
 '2013.09': 9,
 '2013.10': 10,
 '2013.11': 11,
 '2013.12': 12,
 '2014.01': 13,
 '2014.02': 14,
 '2014.03': 15,
 '2014.04': 16,
 '2014.05': 17,
 '2014.06': 18,
 '2014.07': 19,
 '2014.08': 20,
 '2014.09': 21,
 '2014.10': 22,
 '2014.11': 23,
 '2014.12': 24,
 '2015.01': 25,
 '2015.02': 26,
 '2015.03': 27,
 '2015.04': 28,
 '2015.05': 29,
 '2015.06': 30,
 '2015.07': 31,
 '2015.08': 32,
 '2015.09': 33,
 '2015.10': 34}

In [29]:
sales['y_m2']=sales['y_m'].map(y_m_mapping)

In [30]:
sales['m_d'].sort_values().unique()

array(['01.01', '01.02', '01.03', '01.04', '01.05', '01.06', '01.07',
       '01.08', '01.09', '01.10', '01.11', '01.12', '01.13', '01.14',
       '01.15', '01.16', '01.17', '01.18', '01.19', '01.20', '01.21',
       '01.22', '01.23', '01.24', '01.25', '01.26', '01.27', '01.28',
       '01.29', '01.30', '01.31', '02.01', '02.02', '02.03', '02.04',
       '02.05', '02.06', '02.07', '02.08', '02.09', '02.10', '02.11',
       '02.12', '02.13', '02.14', '02.15', '02.16', '02.17', '02.18',
       '02.19', '02.20', '02.21', '02.22', '02.23', '02.24', '02.25',
       '02.26', '02.27', '02.28', '03.01', '03.02', '03.03', '03.04',
       '03.05', '03.06', '03.07', '03.08', '03.09', '03.10', '03.11',
       '03.12', '03.13', '03.14', '03.15', '03.16', '03.17', '03.18',
       '03.19', '03.20', '03.21', '03.22', '03.23', '03.24', '03.25',
       '03.26', '03.27', '03.28', '03.29', '03.30', '03.31', '04.01',
       '04.02', '04.03', '04.04', '04.05', '04.06', '04.07', '04.08',
       '04.09', '04.10', '04.11', '04.12', '04.13', '04.14', '04.15',
       '04.16', '04.17', '04.18', '04.19', '04.20', '04.21', '04.22',
       '04.23', '04.24', '04.25', '04.26', '04.27', '04.28', '04.29',
       '04.30', '05.01', '05.02', '05.03', '05.04', '05.05', '05.06',
       '05.07', '05.08', '05.09', '05.10', '05.11', '05.12', '05.13',
       '05.14', '05.15', '05.16', '05.17', '05.18', '05.19', '05.20',
       '05.21', '05.22', '05.23', '05.24', '05.25', '05.26', '05.27',
       '05.28', '05.29', '05.30', '05.31', '06.01', '06.02', '06.03',
       '06.04', '06.05', '06.06', '06.07', '06.08', '06.09', '06.10',
       '06.11', '06.12', '06.13', '06.14', '06.15', '06.16', '06.17',
       '06.18', '06.19', '06.20', '06.21', '06.22', '06.23', '06.24',
       '06.25', '06.26', '06.27', '06.28', '06.29', '06.30', '07.01',
       '07.02', '07.03', '07.04', '07.05', '07.06', '07.07', '07.08',
       '07.09', '07.10', '07.11', '07.12', '07.13', '07.14', '07.15',
       '07.16', '07.17', '07.18', '07.19', '07.20', '07.21', '07.22',
       '07.23', '07.24', '07.25', '07.26', '07.27', '07.28', '07.29',
       '07.30', '07.31', '08.01', '08.02', '08.03', '08.04', '08.05',
       '08.06', '08.07', '08.08', '08.09', '08.10', '08.11', '08.12',
       '08.13', '08.14', '08.15', '08.16', '08.17', '08.18', '08.19',
       '08.20', '08.21', '08.22', '08.23', '08.24', '08.25', '08.26',
       '08.27', '08.28', '08.29', '08.30', '08.31', '09.01', '09.02',
       '09.03', '09.04', '09.05', '09.06', '09.07', '09.08', '09.09',
       '09.10', '09.11', '09.12', '09.13', '09.14', '09.15', '09.16',
       '09.17', '09.18', '09.19', '09.20', '09.21', '09.22', '09.23',
       '09.24', '09.25', '09.26', '09.27', '09.28', '09.29', '09.30',
       '10.01', '10.02', '10.03', '10.04', '10.05', '10.06', '10.07',
       '10.08', '10.09', '10.10', '10.11', '10.12', '10.13', '10.14',
       '10.15', '10.16', '10.17', '10.18', '10.19', '10.20', '10.21',
       '10.22', '10.23', '10.24', '10.25', '10.26', '10.27', '10.28',
       '10.29', '10.30', '10.31', '11.01', '11.02', '11.03', '11.04',
       '11.05', '11.06', '11.07', '11.08', '11.09', '11.10', '11.11',
       '11.12', '11.13', '11.14', '11.15', '11.16', '11.17', '11.18',
       '11.19', '11.20', '11.21', '11.22', '11.23', '11.24', '11.25',
       '11.26', '11.27', '11.28', '11.29', '11.30', '12.01', '12.02',
       '12.03', '12.04', '12.05', '12.06', '12.07', '12.08', '12.09',
       '12.10', '12.11', '12.12', '12.13', '12.14', '12.15', '12.16',
       '12.17', '12.18', '12.19', '12.20', '12.21', '12.22', '12.23',
       '12.24', '12.25', '12.26', '12.27', '12.28', '12.29', '12.30',
       '12.31'], dtype=object)

In [31]:
m_d_mapping={j:i+1 for i,j in enumerate(sales['m_d'].sort_values().unique())}

In [32]:
sales['m_d2']=sales['m_d'].map(m_d_mapping)

In [33]:
sales.drop(columns=['y_m','m_d'],inplace=True)

In [34]:
sales.rename({'y_m2':'y_m','m_d2':'m_d'},axis=1,inplace=True)

In [35]:
sales

,date,shop_id,item_id,item_price,item_cnt_day,day,month,year,income,y_m,m_d
0,02.01.2013,59,22154,999.00,1.0,02,01,2013,999.00,1,2
1,03.01.2013,25,2552,899.00,1.0,03,01,2013,899.00,1,3
3,06.01.2013,25,2554,1709.05,1.0,06,01,2013,1709.05,1,6
4,15.01.2013,25,2555,1099.00,1.0,15,01,2013,1099.00,1,15
5,10.01.2013,25,2564,349.00,1.0,10,01,2013,349.00,1,10
...,...,...,...,...,...,...,...,...,...,...,...
2935844,10.10.2015,25,7409,299.00,1.0,10,10,2015,299.00,34,283
2935845,09.10.2015,25,7460,299.00,1.0,09,10,2015,299.00,34,282
2935846,14.10.2015,25,7459,349.00,1.0,14,10,2015,349.00,34,287
2935847,22.10.2015,25,7440,299.00,1.0,22,10,2015,299.00,34,295
2935848,03.10.2015,25,7460,299.00,1.0,03,10,2015,299.00,34,276

In [36]:
sales.to_csv('sales_pre.csv',index=False)