# 1 (선생님 풀이 후에 내꺼 풀이 나옴)
- Loan Status Data Set
- Loan Status 데이터 셋을 이용해서 대출을 받을 자격이 있는지를 구분하는 모델 만들기

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from IPython.display import Image
#!pip install IPython

- data read

In [6]:
data = pd.read_csv('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\loan.csv')

In [7]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [9]:
# 인덱스 순서 뒤에 벨류 오브젝트의 칼럼들을 리스트로 부를려고 
obj_col = []
for i , j in zip(data.dtypes.index, data.dtypes.values) :
    if j == 'object' :
        obj_col.append(i)

In [10]:
obj_col

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [11]:
# 오브젝트 컬럼중에 첫번재 제외하고 유니크 출력 
for col in obj_col[1:] :
    print(data[col].unique())

['Male' 'Female' nan]
['No' 'Yes' nan]
['0' '1' '2' '3+' nan]
['Graduate' 'Not Graduate']
['No' 'Yes' nan]
['Urban' 'Rural' 'Semiurban']
['Y' 'N']

- 위에 오브젝트 int 로 바꾸기

In [12]:
label1 = LabelEncoder()

In [13]:
for col in obj_col[1:] :
    label = LabelEncoder()
    data[col] =  label.fit_transform(data[col])

In [14]:
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
data['LoanAmount'].fillna(data['LoanAmount'].median(),inplace= True)
data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].median(),inplace= True)
data['Credit_History'].fillna(data['Credit_History'].median(),inplace= True)

## 1

In [16]:
X = data.drop(['Loan_ID','Loan_Status'], axis = 1)
Y = data['Loan_Status']

In [17]:
x_train, x_test, y_train, y_test = \
train_test_split(X,Y, test_size=0.2, stratify = Y, random_state=0)

In [18]:
X.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [19]:
model = SVC()

In [20]:
model.fit(x_train, y_train)

SVC()

In [21]:
model.score(x_train, y_train)

0.6904276985743381

In [22]:
model.score(x_test, y_test)

0.6910569105691057

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
scaler = MinMaxScaler()

In [25]:
x_train = scaler.fit_.mjn transform(x_train)

SyntaxError: invalid syntax (1054391552.py, line 1)

In [78]:
x_test = scaler.transform(x_test)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [79]:
model2 = SVC(kernel='rbf', C=10)

In [80]:
model2.fit(x_train, y_train)

SVC(C=10)

In [81]:
model2.score(x_train, y_train)

0.8167006109979633

In [82]:
model2.score(x_test, y_test)

0.6585365853658537

## 2

## new 불러오기

In [83]:
data = pd.read_csv('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\loan.csv')

In [ ]:
data.isnull().sum()

< null columns >
- Gender               13
- Married               3
- Dependents           15
- Self_Employed        32
- LoanAmount           22
- Loan_Amount_Term     14
- Credit_History       50

In [28]:
# mode() :최빈값
data['Gender'].mode()

0    1
Name: Gender, dtype: int32

In [29]:
data['Gender'].value_counts(dropna= False)

1    489
0    112
2     13
Name: Gender, dtype: int64

In [30]:
male = data['Gender'].value_counts(dropna= False)[0]
female = data['Gender'].value_counts(dropna= False)[1]
na = data['Gender'].value_counts(dropna= False)[2]

In [31]:
print('Male의 비율   : %.2f' %(male / len(data)* 100))
print('Female의 비율 : %.2f' %(female / len(data)* 100))
print('Null의 비율   : %.2f' %(na / len(data)* 100))

Male의 비율   : 18.24
Female의 비율 : 79.64
Null의 비율   : 2.12

In [32]:
data['Gender'].fillna(data['Gender'].mode()[0], inplace = True)

In [33]:
data['Gender'].isnull().sum()

0

In [34]:
data['Married'].value_counts(dropna= False)

1    398
0    213
2      3
Name: Married, dtype: int64

In [35]:
data['Married'].fillna(data['Married'].mode()[0], inplace= True)

In [36]:
data['Married'].isnull().sum()

0

### 오전 쉅

In [37]:
null_col =[ 'Gender','Married','Dependents','Self_Employed']

In [38]:
for col in null_col :
    print(data[col].value_counts(dropna = False))

1    489
0    112
2     13
Name: Gender, dtype: int64
1    398
0    213
2      3
Name: Married, dtype: int64
0    345
1    102
2    101
3     51
4     15
Name: Dependents, dtype: int64
0    500
1     82
2     32
Name: Self_Employed, dtype: int64

- 최빈값으로 na값 채워넣기

In [39]:
for col in null_col :
    data[col].fillna(data[col].mode()[0], inplace = True)

In [40]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

- 수치형 데이터확인

In [41]:
data['LoanAmount'].median()

128.0

In [42]:
data['LoanAmount'].describe()

count    614.000000
mean     145.752443
std       84.107233
min        9.000000
25%      100.250000
50%      128.000000
75%      164.750000
max      700.000000
Name: LoanAmount, dtype: float64

In [43]:
data.groupby('Self_Employed')['LoanAmount'].median()

Self_Employed
0    127.5
1    142.5
2    125.5
Name: LoanAmount, dtype: float64

In [44]:
data[data['LoanAmount'].isnull()]['Self_Employed'].value_counts()

Series([], Name: Self_Employed, dtype: int64)

In [45]:
data['LoanAmount'].fillna(data['LoanAmount'].median(),inplace= True)

In [46]:
data['LoanAmount'].isnull().sum()

0

In [47]:
data['Loan_Amount_Term'].value_counts()

360.0    526
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [48]:
data['Loan_Amount_Term'].isnull().sum()

0

In [49]:
data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].median(),inplace= True)

In [50]:
data['Loan_Amount_Term'].isnull().sum()

0

In [51]:
data.groupby('Credit_History')['LoanAmount'].median()

Credit_History
0.0    127.0
1.0    128.0
Name: LoanAmount, dtype: float64

In [52]:
data['Credit_History'].fillna(data['Credit_History'].median(),inplace= True)

In [53]:
data['Credit_History'].isnull().sum()

0

In [54]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [55]:
for col in obj_col[1:] :
    label = LabelEncoder()
    data[col] = label.fit_transform(data[col])

In [56]:
X = data.drop(['Loan_ID','Loan_Status','Gender'], axis =1)

In [57]:
Y = data['Loan_Status']

In [58]:
x_train, x_test, y_train, y_test = \
train_test_split(X,Y, test_size=0.2, stratify = Y, random_state=0)

In [59]:
model = SVC()

In [60]:
model.fit(x_train, y_train)

SVC()

In [61]:
model.score(x_train, y_train)

0.6904276985743381

In [62]:
model.score(x_test, y_test)

0.6910569105691057

--

--

In [63]:
from sklearn.preprocessing import MinMaxScaler

In [64]:
scaler = MinMaxScaler()

In [65]:
x_train = scaler.fit_transform(x_train)

In [66]:
x_test = scaler.transform(x_test)

In [67]:
model2 = SVC(kernel='rbf', C=10)

In [68]:
model2.fit(x_train, y_train)

SVC(C=10)

In [69]:
model2.score(x_train, y_train)

0.8167006109979633

In [70]:
model2.score(x_test, y_test)

0.8048780487804879

- 전처리중 잘된거 결과 모델 저장

In [71]:
import pickle

In [72]:
model2

SVC(C=10)

In [84]:
with open ('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\SVC.pkl','wb') as f :
    pickle.dump(SVC, f)

In [85]:
with open('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\model2.pkl','wb') as f :
    pickle.dump(model2, f)

In [75]:
data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

--------

- 코드 불러오기 (압축 정리)

In [76]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from IPython.display import Image
#!pip install IPython

In [88]:
data = pd.read_csv('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\loan.csv')

In [89]:
import pickle

In [90]:
# 전처리 
null_dict= {}
null_col = ['Gender', 'Married', 'Dependents','Self_Employed']
for col in null_col :
    null_dict[col] = data[col].mode()[0]
    
null_dict['LoanAmount'] = data['LoanAmount'].median()
null_dict['Loan_Amount_Term'] = data['Loan_Amount_Term'].mode()[0]
null_dict['Credit_History'] = data['Credit_History'].mode()[0]

In [91]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'LoanAmount': 128.0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0}

In [92]:
null_col = ['Gender', 'Married', 'Dependents','Self_Employed']
for col in null_col :
    data[col].fillna(data[col].mode()[0], inplace = True)
    
data['LoanAmount'].fillna(data['LoanAmount'].median(),inplace= True)
data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].median(),inplace= True)
data['Credit_History'].fillna(data['Credit_History'].median(),inplace= True)

In [93]:
with open ('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\null_dict.pkl', 'wb') as f :
    pickle.dump(null_dict, f)

In [ ]:
with open ('null_dict.pkl', 'rb') as f :
    load_dict = pickle.load(f)

In [94]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [95]:
# 전처리 
for col in obj_col :
    print(col)
    label = LabelEncoder() # 함수를 통해서 문자를 수치형데이터로 바꿈
    data[col] = label.fit_transform(data[col])
    filename = 'label_' + col + '.pkl'
    print(filename)
    with open('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\'+filename, 'wb') as f :
        pickle.dump(label, f)

Gender
label_Gender.pkl
Married
label_Married.pkl
Dependents
label_Dependents.pkl
Education
label_Education.pkl
Self_Employed
label_Self_Employed.pkl
Property_Area
label_Property_Area.pkl

In [96]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,Y
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,N
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,Y
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,Y
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,Y
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,Y
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,Y
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,N

In [97]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'LoanAmount': 128.0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0}

In [98]:
X = data.drop(['Loan_Status','Loan_ID'], axis = 1 )
Y = data['Loan_Status']

In [99]:
x_train, x_test, y_train, y_test = \
train_test_split(X,Y, test_size=0.2, stratify = Y, random_state=0)

In [100]:
x_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
530,1,1,0,0,0,1025,5500.0,216.0,360.0,1.0,0
522,1,1,3,0,1,5677,1424.0,100.0,360.0,1.0,0
454,1,0,0,0,1,7085,0.0,84.0,360.0,1.0,1
498,1,1,1,0,1,2895,0.0,95.0,360.0,1.0,1
573,1,1,2,1,0,6125,1625.0,187.0,480.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
309,1,1,2,1,0,7667,0.0,185.0,360.0,1.0,0
564,1,1,2,0,0,8799,0.0,258.0,360.0,0.0,2
73,1,1,3,1,0,4755,0.0,95.0,360.0,0.0,1
235,1,1,1,0,0,5500,1260.0,170.0,360.0,1.0,0
406,1,1,0,1,0,2167,2400.0,115.0,360.0,1.0,2

In [101]:
# 전처리 # 스칼라 사용 
#결과 가 좋아졌는지 나쁜지 모델 스코어 확인

In [102]:
# 모델 학습 / 스칼라 하고 난후 학습 노가다 필요

In [103]:
from sklearn.preprocessing import MinMaxScaler
# 스칼라 표준화

In [104]:
scaler = MinMaxScaler()

In [105]:
x_train = scaler.fit_transform(x_train)

In [106]:
x_train

array([[1.        , 1.        , 0.        , ..., 0.74358974, 1.        ,
        0.        ],
       [1.        , 1.        , 1.        , ..., 0.74358974, 1.        ,
        0.        ],
       [1.        , 0.        , 0.        , ..., 0.74358974, 1.        ,
        0.5       ],
       ...,
       [1.        , 1.        , 1.        , ..., 0.74358974, 0.        ,
        0.5       ],
       [1.        , 1.        , 0.33333333, ..., 0.74358974, 1.        ,
        0.        ],
       [1.        , 1.        , 0.        , ..., 0.74358974, 1.        ,
        1.        ]])

In [107]:
x_test = scaler.transform(x_test)

In [108]:
with open('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\scaler.pkl','wb') as f :
    pickle.dump(scaler,f)

In [ ]:
model2 = SVC(kernel='rbf', C=10)

In [ ]:
model2.fit(x_train, y_train)

In [ ]:
model2.score(x_train, y_train)

In [ ]:
model2.score(x_test, y_test)

In [ ]:
with open ('model.pkl', 'wb') as f :
    pickle.dump(model2, f)

# 내가 한거

ApplicantIncome :신청인 소득
CoapplicantIncome :공동 신청자 소득
LoanAmount:대출 금액
Loan_Amount_Term:대출_금액_기간
Credit_History:신용 기록
Property_Area:재산 지역
Loan_Status: 대출 현황

In [ ]:
data.describe()

In [ ]:
data.isnull().sum()

In [ ]:
data['Loan_Status'].value_counts()

In [ ]:
data.shape

In [ ]:
data = data.dropna()

In [ ]:
# 데이터 삭제 확인 
data.shape

In [ ]:
data.head(1)

- 내가 풀이 한거

- 성별  male
- 결혼 유무는  yes 
- 부양 가족은  median 
- 자영업은 no
- 대출금액은 median 
- 대출금액 기간 median
- 신용기록 1.0 으로 바꾸기

In [ ]:
data['Gender'].value_counts()

In [ ]:
data['Gender'] = data['Gender'].fillna('Male')

In [ ]:
data['Gender'].value_counts()

-

In [ ]:
data['Married'].value_counts()

In [ ]:
data['Married'] = data['Married'].fillna('Yes')

In [ ]:
data['Married'].value_counts()

-

In [ ]:
data['Dependents'].value_counts()

In [ ]:
data['Dependents'] = data['Dependents'].replace('3+',3)

In [ ]:
data['Dependents'] = data['Dependents'].fillna('0')

In [ ]:
data['Dependents'].value_counts()

-

In [ ]:
data['Self_Employed'].value_counts()

In [ ]:
data['Self_Employed'] = data['Self_Employed'].fillna('No')

In [ ]:
data['Self_Employed'].value_counts()

-

In [ ]:
data['LoanAmount'].value_counts()

In [ ]:
data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].median())

In [ ]:
len(data['LoanAmount'] == 128.0)

-

In [ ]:
data['Loan_Amount_Term'].value_counts()

In [ ]:
data['Loan_Amount_Term'] = data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].median())

-

In [ ]:
data['Credit_History'].value_counts()

In [ ]:
data['Credit_History'] = data['Credit_History'].fillna(1.0)

In [ ]:
data['Credit_History'].value_counts()

In [ ]:
data.isnull().sum()

In [ ]:
data.describe()

- 성별에 따른 대출 금액
- 여자는 결혼전 높고 남자는 결혼후가 높음

In [ ]:
data.groupby(['Gender','Married'])['LoanAmount'].describe()

- 결혼 부양가족에 따른 대출금액

In [ ]:
data.groupby(['Married','Dependents'])['LoanAmount'].describe()

- 사용자 아이디는 필요없으므로 드롭

# 모델 학습시키고 결과 보기

In [ ]:
x = data.drop('Loan_Status', axis =1)
y = data['Loan_Status']

In [ ]:
x_train, x_test, y_train, y_test = \
train_test_split(x,y, test_size=0.2, random_state=0)

In [ ]:
model = LogisticRegression()

In [ ]:
model