- 저장한 파일 불러오고

- 데이터 real 값 best 불러와서 처리해보기

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
import pickle

In [3]:
with open ('null_dict.pkl', 'rb') as f :
    load_dict = pickle.load(f)

In [15]:
real = ['LP002990', 'Female', 'No', '0', 'Graduate', 'Yes', 4583, 0.0, 133.0, 360.0, 0.0, 'Semiurban']

In [16]:
real2 = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [17]:
real3 = ['LP001345', None, 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [18]:
real3 = np.asarray(real3).reshape(1,-1)

In [19]:
df = pd.DataFrame(real3,columns= ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [20]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,None,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [21]:
load_dict

{'Gender': 1,
 'Married': 1,
 'Dependents': 0,
 'Self_Employed': 0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0,
 'LoanAmount': 128.0}

In [22]:
null_col = ['Gender', 'Married', 'Dependents','Self_Employed']
for col in null_col :
    df[col].fillna(load_dict[col], inplace = True)

In [23]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,1,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [24]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [30]:
for col in obj_col :
    filename = 'label_' + col + '.pkl'
    
    with open ('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\'+filename, 'rb') as f :
        label = pickle.load(f)
    df[col] = label.transform(df[col])

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [27]:
df.drop('Loan_ID',axis = 1, inplace = True)

KeyError: "['Loan_ID'] not found in axis"

In [ ]:
df

In [29]:
with open('C:\\Users\\user\\Desktop\\python\\11.11\\연습\\세은님 파일\\scaler.pkl', 'rb') as f :
        scaler = pickle.load(f)

In [ ]:
df = scaler.transform(df)

In [ ]:
with open('model.pkl', 'rb') as f :
        model = pickle.load(f)

In [ ]:
predict = model.predict(df)

In [ ]:
if predict == 'Y' :
    print('대출승인')
else :
    pritn('대출거절')