In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings(action='ignore')
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
df2=pd.read_csv('loan.csv')

In [3]:
df2.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64


- Gender               13
- Married               3
- Dependents           15

- Self_Employed        32

- LoanAmount           22
- Loan_Amount_Term     14
- Credit_History       50

In [4]:
male=df2.Gender.value_counts(dropna=False)[0]
female=df2.Gender.value_counts(dropna=False)[1]
na=df2.Gender.value_counts(dropna=False)[2]

In [5]:
print(f'male의 비율: %.2f'%(male/len(df2)*100))
print(f'female의 비율: %.2f'%(female/len(df2)*100))
print(f'na의 비율: %.2f'%(na/len(df2)*100))

male의 비율: 79.64
female의 비율: 18.24
na의 비율: 2.12

In [6]:
df2['Gender'].fillna(df2.Gender.mode()[0],inplace=True)

In [7]:
df2['Gender'].isnull().sum()

0

In [8]:
df2.Married.value_counts(dropna=False)

Yes    398
No     213
NaN      3
Name: Married, dtype: int64

In [41]:
df2['Married'].fillna(df2['Married'].mode()[0],inplace=True)

In [42]:
df2['Married'].isnull().sum()

0

In [44]:
null_col=['Gender','Married','Dependents','Self_Employed']

In [45]:
for col in null_col:
    df2[col].fillna(df2[col].mode()[0],inplace=True)
    df2.LoanAmount.fillna(df2.LoanAmount.median(),inplace=True)
    df2.Loan_Amount_Term.fillna(df2.Loan_Amount_Term.mode()[0],inplace=True)
    df2.Credit_History.value_counts(dropna=False)

In [46]:
df2.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [47]:
df2.LoanAmount.describe()

count    614.000000
mean     145.752443
std       84.107233
min        9.000000
25%      100.250000
50%      128.000000
75%      164.750000
max      700.000000
Name: LoanAmount, dtype: float64

In [48]:
df2.Self_Employed.value_counts()

0    500
1     82
2     32
Name: Self_Employed, dtype: int64

In [52]:
df2[df2.LoanAmount.isnull()]['Self_Employed'].value_counts()

Series([], Name: Self_Employed, dtype: int64)

In [53]:
df2.LoanAmount.fillna(df2.LoanAmount.median(),inplace=True)

In [54]:
df2.LoanAmount.isnull().sum()

0

In [55]:
df2.Loan_Amount_Term.fillna(df2.Loan_Amount_Term.mode()[0],inplace=True)

In [56]:
df2.Loan_Amount_Term.isnull().sum()

0

In [57]:
df2.Credit_History.value_counts(dropna=False)

1.0    525
0.0     89
Name: Credit_History, dtype: int64

In [58]:
df2.groupby('Credit_History')['LoanAmount'].median()

Credit_History
0.0    127.0
1.0    128.0
Name: LoanAmount, dtype: float64

In [59]:
df2.Credit_History.fillna(df2.Credit_History.mode()[0],inplace=True)

In [60]:
df2.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [61]:
x=df2.drop(['Loan_ID','Loan_Status'],axis=1)
y=df2['Loan_Status']

In [47]:
obj_col=[]
for i,j in zip(df2.dtypes.index,df2.dtypes.values):
    print(i,j)
    if j=='object':
        obj_col.append(i)

Loan_ID object
Gender int64
Married int32
Dependents int32
Education int32
Self_Employed int32
ApplicantIncome int64
CoapplicantIncome float64
LoanAmount float64
Loan_Amount_Term float64
Credit_History float64
Property_Area int32
Loan_Status int32

In [48]:
obj_col

['Loan_ID']

In [64]:
df2.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [65]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [66]:
for col in obj_col[1:]:
    print(col)

In [67]:
label2 =LabelEncoder()
df2['Gender'] = label2.fit_transform(df2['Gender'])

In [68]:
for col in obj_col[1:]:
    label1=LabelEncoder()
    df2[col]=label1.fit_transform(df2[col])

In [103]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [69]:
df2.LoanAmount.fillna(df2.LoanAmount.median(),inplace=True)
df2.Loan_Amount_Term.fillna(df2.Loan_Amount_Term.mode()[0],inplace=True)
df2.Credit_History.fillna(df2.Credit_History.mode()[0],inplace=True)

In [70]:
df2.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [71]:
x=df2.drop(['Loan_Status','Loan_ID'],axis=1)
y=df2.Loan_Status

In [80]:
model = SVC(C=50)

In [84]:
scaler=MinMaxScaler()

In [86]:
x_train=scaler.fit_transform(x_train)

In [87]:
x_test=scaler.transform(x_test)

In [81]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=42)

In [88]:
model.fit(x_train,y_train)
model.score(x_train,y_train)

0.8492871690427699

In [89]:
model.score(x_test,y_test)

0.7804878048780488

In [108]:
df2.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
df2=pd.read_csv('loan.csv')
for col in null_col:
    df2[col].fillna(df2[col].mode()[0],inplace=True)
df2.LoanAmount.fillna(df2.LoanAmount.median(),inplace=True)
df2.Loan_Amount_Term.fillna(df2.Loan_Amount_Term.mode()[0],inplace=True)
c],inplace=True)

In [53]:
null_dict={}
null_col=['Gender','Married', 'Dependents','Self_Employed']
for col in null_col:
    null_dict[col]=df2[col].mode()[0]

null_dict['LoanAmount']=df2['LoanAmount'].median()
null_dict['Loan_Amount_Term']=df2['Loan_Amount_Term'].mode()[0]
null_dict['Credit_History']=df2['Credit_History'].mode()[0]

In [54]:
null_dict

{'Gender': 1,
 'Married': 1,
 'Dependents': 0,
 'Self_Employed': 0,
 'LoanAmount': 128.0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0}

In [111]:
with open('null_dict.pkl','wb')as f:
    pickle.dump(null_dict,f)

In [46]:
df2.Gender.fillna('Male',inplace=True)
df2.Gender.fillna('Male',inplace=True)
df2.Gender.fillna('Male',inplace=True)
df2.Gender.fillna('Male',inplace=True)
df2.Gender.fillna('Male',inplace=True)
df2.Gender.fillna('Male',inplace=True)

In [51]:
obj_col=['Gender','Married', 'Dependents', 'Education','Self_Employed','Property_Area']

In [ ]:
for col in obj_col:
    label=LabelEncoder()
    df2[col]=label1.fit_transform(df2[col])
    
    filename='label_'+ col +'.pkl'
    with open(filename,'wb')as f:
        pickle.dump(null_dict,f)

In [52]:
for col in obj_col:
    label=LabelEncoder()
    df2[col]=label1.fit_transform(df2[col])
    
    filename='label_'+ col +'.pkl'
    with open(filename,'wb')as f:
        pickle.dump(null_dict,f)

In [55]:
x=df2.drop(['Loan_Status','Loan_ID'],axis=1)
y=df2.Loan_Status

In [57]:
with open('scaler.pkl','wb')as f:
    pickle.dump(scaler,f)

In [58]:
scaler

MinMaxScaler()