In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings(action='ignore')
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
#

In [3]:
real = ['LP002990', 'Female', 'No', '0', 'Graduate', 'Yes', 4583, 0.0, 133.0, 360.0, 0.0, 'Semiurban']

In [4]:
real=np.asarray(real).reshape(1,-1)

In [5]:
df=pd.DataFrame(real, columns=['Loan_ID','Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [6]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [7]:
obj_col=['Gender','Married', 'Dependents', 'Education','Self_Employed','Property_Area']

In [8]:
for col in obj_col:
    filename='label_'+ col +'.pkl'
    print(filename)
    with open(filename,'rb') as f:
        label=pickle.load(f)
    df[col]=label.transform(df[col])

label_Gender.pkl
label_Married.pkl
label_Dependents.pkl
label_Education.pkl
label_Self_Employed.pkl
label_Property_Area.pkl

In [9]:
df.drop('Loan_ID',axis=1,inplace=True)

In [10]:
with open('scaler.pkl','rb') as f:
        scaler=pickle.load(f)

In [11]:
df=scaler.transform(df)

In [12]:
with open('model.pkl','rb') as f:
        model=pickle.load(f)

In [13]:
prdict=model.predict(df)