In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings(action='ignore')
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
df=pd.read_csv('loan.csv')

In [3]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [6]:
x=df.drop('Loan_Status',axis=1)
y=df.Loan_Status

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
model=SVC()

In [9]:
df=df.dropna()

In [10]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [11]:
df.shape

(480, 13)

In [12]:
df.head(1)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N

In [13]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [14]:
obj_col=[]
for i,j in zip(df.dtypes.index,df.dtypes.values):
    print(i,j)
    if j=='object':
        obj_col.append(i)

Loan_ID object
Gender object
Married object
Dependents object
Education object
Self_Employed object
ApplicantIncome int64
CoapplicantIncome float64
LoanAmount float64
Loan_Amount_Term float64
Credit_History float64
Property_Area object
Loan_Status object

In [15]:
for col in obj_col[1:]:
    print(df[col].unique())

['Male' 'Female']
['Yes' 'No']
['1' '0' '2' '3+']
['Graduate' 'Not Graduate']
['No' 'Yes']
['Rural' 'Urban' 'Semiurban']
['N' 'Y']

In [16]:
for col in obj_col[1:]:
    print(df[col].unique())

['Male' 'Female']
['Yes' 'No']
['1' '0' '2' '3+']
['Graduate' 'Not Graduate']
['No' 'Yes']
['Rural' 'Urban' 'Semiurban']
['N' 'Y']

In [17]:
label1=LabelEncoder()

In [18]:
df['Gender']=label1.fit_transform(df.Gender)

In [19]:
for col in obj_col[1:]:
    label1=LabelEncoder()
    df[col]=label1.fit_transform(df[col])

In [20]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [21]:
x=df.drop(['Loan_ID','Loan_Status'],axis=1)
y=df.Loan_Status

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=42)

In [23]:
y_train

475    1
456    1
342    1
440    1
250    0
      ..
559    1
578    1
205    1
610    1
28     0
Name: Loan_Status, Length: 384, dtype: int32

In [24]:
model = SVC()

In [25]:
model.fit(x_train,y_train)

SVC()

In [26]:
model.score(x_train,y_train)

0.703125

In [27]:
model.score(x_test,y_test)

0.6875

In [28]:
scaler=MinMaxScaler()

In [29]:
x_train=scaler.fit_transform(x_train)

In [30]:
x_test=scaler.transform(x_test)

In [31]:
model.score(x_train,y_train)

0.6927083333333334

In [32]:
model.score(x_test,y_test)

0.6875

--------------------------------------------------------

In [33]:
df2=pd.read_csv('loan.csv')

In [34]:
df2.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64


- Gender               13
- Married               3
- Dependents           15

- Self_Employed        32

- LoanAmount           22
- Loan_Amount_Term     14
- Credit_History       50

In [35]:
male=df2.Gender.value_counts(dropna=False)[0]
female=df2.Gender.value_counts(dropna=False)[1]
na=df2.Gender.value_counts(dropna=False)[2]

In [36]:
print(f'male의 비율: %.2f'%(male/len(df2)*100))
print(f'female의 비율: %.2f'%(female/len(df2)*100))
print(f'na의 비율: %.2f'%(na/len(df2)*100))

male의 비율: 79.64
female의 비율: 18.24
na의 비율: 2.12

In [37]:
df2['Gender'].fillna(df2.Gender.mode()[0],inplace=True)

In [38]:
df2['Gender'].isnull().sum()

0

In [39]:
df2.Married.value_counts(dropna=False)

Yes    398
No     213
NaN      3
Name: Married, dtype: int64

In [40]:
df2['Married'].fillna(df['Married'].mode()[0],inplace=True)

In [41]:
df2['Married'].isnull().sum()

0

In [42]:

df2['Dependents'].fillna(df['Dependents'].mode()[0],inplace=True)
df2['Self_Employed'].fillna(df['Self_Employed'].mode()[0],inplace=True)
df2['Credit_History'].fillna(df['Credit_History'].mode()[0],inplace=True)
df2['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0],inplace=True)

In [43]:
null_col=['Gender','Married','Dependents','Self_Employed']

In [44]:
for col in null_col:
    df2[col].fillna(df[col].mode()[0],inplace=True)

In [45]:
df2.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [46]:
df2.LoanAmount.describe()

count    592.000000
mean     146.412162
std       85.587325
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [47]:
df2.Self_Employed.value_counts()

No     500
Yes     82
0       32
Name: Self_Employed, dtype: int64

In [48]:
### 에이스의 아이디어
df.groupby('Self_Employed')['LoanAmount'].median()

Self_Employed
0    125.5
1    150.0
Name: LoanAmount, dtype: float64

In [49]:
df2[df2.LoanAmount.isnull()]['Self_Employed'].value_counts()

No     18
Yes     3
0       1
Name: Self_Employed, dtype: int64

In [50]:
df2.LoanAmount.fillna(df2.LoanAmount.median(),inplace=True)

In [51]:
df2.LoanAmount.isnull().sum()

0

In [52]:
df2.Loan_Amount_Term.fillna(df2.Loan_Amount_Term.mode()[0],inplace=True)

In [53]:
df2.Loan_Amount_Term.isnull().sum()

0

In [54]:
df2.Credit_History.value_counts(dropna=False)

1.0    525
0.0     89
Name: Credit_History, dtype: int64

In [55]:
df2.groupby('Credit_History')['LoanAmount'].median()

Credit_History
0.0    127.0
1.0    128.0
Name: LoanAmount, dtype: float64

In [56]:
df2.Credit_History.fillna(df2.Credit_History.mode()[0],inplace=True)

In [57]:
df2.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [58]:
x=df2.drop(['Loan_ID','Loan_Status'],axis=1)
y=df2['Loan_Status']

In [59]:
obj_col=[]
for i,j in zip(df2.dtypes.index,df2.dtypes.values):
    print(i,j)
    if j=='object':
        obj_col.append(i)

Loan_ID object
Gender object
Married object
Dependents object
Education object
Self_Employed object
ApplicantIncome int64
CoapplicantIncome float64
LoanAmount float64
Loan_Amount_Term float64
Credit_History float64
Property_Area object
Loan_Status object

In [60]:
obj_col

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [61]:
df2.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [62]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [63]:
for col in obj_col[1:]:
    print(col)

Gender
Married
Dependents
Education
Self_Employed
Property_Area
Loan_Status

In [64]:
label2 =LabelEncoder()
df2['Gender'] = label2.fit_transform(df2['Gender'])

In [65]:
label3 =LabelEncoder()
df2['Married'] = label3.fit_transform(df2['Married'])

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['int32', 'str']

In [ ]:
for col in obj_col[1:]:
    label1=LabelEncoder()
    df2[col]=label1.fit_transform(df2[col])

In [ ]:
scaler2=StandardScaler()

In [ ]:
x_train=scaler.fit_transform(x_train)

In [ ]:
x_test=scaler.transform(x_test)

In [ ]:
model2.score(x_train,y_train)

In [ ]:
model2.score(x_test,y_test)

In [ ]:
model2

In [ ]:
model

In [ ]:
scaler

In [ ]:
for i in range(1,101):
    for j in range(1,20):
        gamma = 0.01 * j
        model=SVC(C=i,kernel='poly',gamma=gamma)
        model.fit(x_train,y_train)
        model.score(x_train,y_train)
        model.score(x_test,y_test)
        print(i,'train:', model.score(x_train,y_train))
        print(i,'test:',model.score(x_test,y_test))
        print('-'*20)