In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
import pickle
from sklearn.preprocessing import PolynomialFeatures
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
from sklearn.svm import SVC#### Support Vector Machine = SVC

In [3]:
df=pd.read_csv('diabetes.csv')### outcome=1 당뇨 outcome=0 당뇨x

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']] = df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']].replace(0,np.NaN)

In [7]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [8]:
df.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [9]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [10]:
df.Age.max()

81

In [11]:
def ageRange(age):
    if 21<= age <30:
        return 1
    elif 31<= age <40:
        return 2
    elif 41<= age <50:
        return 3
    elif 51<= age <60:
        return 4
    elif 61<= age <70:
        return 5
    else:
        return 6

In [12]:
df['Age2']=df.Age.apply(ageRange)

In [13]:
df.Age2

0      6
1      2
2      2
3      1
4      2
      ..
763    5
764    1
765    6
766    3
767    1
Name: Age2, Length: 768, dtype: int64

In [14]:
df.groupby('Age2')['Insulin'].median()

Age2
1    105.0
2    140.0
3    131.0
4    207.0
5    185.0
6    144.0
Name: Insulin, dtype: float64

In [15]:
# df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']]

In [16]:
df['Glucose']=df['Glucose'].fillna(df['Glucose'].median())

In [17]:
df['SkinThickness']=df['SkinThickness'].fillna(df['SkinThickness'].median())

In [18]:
df['Insulin']=df['Insulin'].fillna(df['Insulin'].median())

In [19]:
df['Insulin']=df['Insulin'].fillna(df['Insulin'].median())

In [20]:
df['BloodPressure']=df['BloodPressure'].fillna(df['BloodPressure'].median())

In [21]:
df['BMI']=df['BMI'].fillna(df['BMI'].median())

In [22]:
df['DiabetesPedigreeFunction']=df['DiabetesPedigreeFunction'].fillna(df['DiabetesPedigreeFunction'].median())

In [23]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
Age2                        0
dtype: int64

In [24]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age2
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.656250,72.386719,29.108073,140.671875,32.455208,0.471876,33.240885,0.348958,2.102865
std,3.369578,30.438286,12.096642,8.791221,86.383060,6.875177,0.331329,11.760232,0.476951,1.490900
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000,1.000000
25%,1.000000,99.750000,64.000000,25.000000,121.500000,27.500000,0.243750,24.000000,0.000000,1.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000,1.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000,3.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000,6.000000

In [25]:
df.groupby('Outcome')['Age'].median()

Outcome
0    27.0
1    36.0
Name: Age, dtype: float64

In [26]:
df.groupby('Outcome')['Age','BMI'].median()

          Age    BMI
Outcome
0        27.0  30.40
1        36.0  34.25

In [27]:
len(df.BMI==0)

768

In [28]:
x=df.drop('Outcome',axis=1)
y=df['Outcome']

In [29]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [30]:
# x_train= scaler.fit_transform(x_train)
# x_test= scaler.transform(x_test)

In [31]:
model=SVC(C=40,gamma=0.0009)

In [32]:
model.fit(x_train,y_train)

SVC(C=40, gamma=0.0009)

In [33]:
model.score(x_train,y_train)

0.9364820846905537

In [34]:
model.score(x_test,y_test)

0.6883116883116883

In [35]:
for i in range(1,120):
    x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=2)
    model=SVC(C=i)
    model.fit(x_train,y_train)
    ret1=model.score(x_train,y_train)
    ret2=model.score(x_test,y_test)
    print('Train',i,model.score(x_train,y_train))
    print('Test',i,model.score(x_test,y_test))
    print('-'*20)

Train 1 0.758957654723127
Test 1 0.7597402597402597
--------------------
Train 2 0.7638436482084691
Test 2 0.7597402597402597
--------------------
Train 3 0.7736156351791531
Test 3 0.7662337662337663
--------------------
Train 4 0.7768729641693811
Test 4 0.7662337662337663
--------------------
Train 5 0.7752442996742671
Test 5 0.7662337662337663
--------------------
Train 6 0.7785016286644951
Test 6 0.7662337662337663
--------------------
Train 7 0.7801302931596091
Test 7 0.7662337662337663
--------------------
Train 8 0.7801302931596091
Test 8 0.7662337662337663
--------------------
Train 9 0.7752442996742671
Test 9 0.7597402597402597
--------------------
Train 10 0.7768729641693811
Test 10 0.7597402597402597
--------------------
Train 11 0.7801302931596091
Test 11 0.7662337662337663
--------------------
Train 12 0.7817589576547231
Test 12 0.7662337662337663
--------------------
Train 13 0.7833876221498371
Test 13 0.7662337662337663
--------------------
Train 14 0.7833876221498371
Test 14 0.7662337662337663
--------------------
Train 15 0.7833876221498371
Test 15 0.7662337662337663
--------------------
Train 16 0.7817589576547231
Test 16 0.7662337662337663
--------------------
Train 17 0.7833876221498371
Test 17 0.7532467532467533
--------------------
Train 18 0.7833876221498371
Test 18 0.7467532467532467
--------------------
Train 19 0.7866449511400652
Test 19 0.7402597402597403
--------------------
Train 20 0.7833876221498371
Test 20 0.7402597402597403
--------------------
Train 21 0.7833876221498371
Test 21 0.7467532467532467
--------------------
Train 22 0.7833876221498371
Test 22 0.7532467532467533
--------------------
Train 23 0.7833876221498371
Test 23 0.7532467532467533
--------------------
Train 24 0.7850162866449512
Test 24 0.7467532467532467
--------------------
Train 25 0.7866449511400652
Test 25 0.7467532467532467
--------------------
Train 26 0.7866449511400652
Test 26 0.7467532467532467
--------------------
Train 27 0.7866449511400652
Test 27 0.7467532467532467
--------------------
Train 28 0.7866449511400652
Test 28 0.7467532467532467
--------------------
Train 29 0.7882736156351792
Test 29 0.7467532467532467
--------------------
Train 30 0.7882736156351792
Test 30 0.7467532467532467
--------------------
Train 31 0.7882736156351792
Test 31 0.7467532467532467
--------------------
Train 32 0.7882736156351792
Test 32 0.7467532467532467
--------------------
Train 33 0.7882736156351792
Test 33 0.7467532467532467
--------------------
Train 34 0.7899022801302932
Test 34 0.7532467532467533
--------------------
Train 35 0.7899022801302932
Test 35 0.7532467532467533
--------------------
Train 36 0.7899022801302932
Test 36 0.7532467532467533
--------------------
Train 37 0.7899022801302932
Test 37 0.7532467532467533
--------------------
Train 38 0.7915309446254072
Test 38 0.7532467532467533
--------------------
Train 39 0.7915309446254072
Test 39 0.7532467532467533
--------------------
Train 40 0.7915309446254072
Test 40 0.7597402597402597
--------------------
Train 41 0.7915309446254072
Test 41 0.7597402597402597
--------------------
Train 42 0.7915309446254072
Test 42 0.7597402597402597
--------------------
Train 43 0.7915309446254072
Test 43 0.7597402597402597
--------------------
Train 44 0.7899022801302932
Test 44 0.7597402597402597
--------------------
Train 45 0.7899022801302932
Test 45 0.7597402597402597
--------------------
Train 46 0.7882736156351792
Test 46 0.7597402597402597
--------------------
Train 47 0.7882736156351792
Test 47 0.7597402597402597
--------------------
Train 48 0.7882736156351792
Test 48 0.7597402597402597
--------------------
Train 49 0.7882736156351792
Test 49 0.7597402597402597
--------------------
Train 50 0.7882736156351792
Test 50 0.7597402597402597
--------------------
Train 51 0.7850162866449512
Test 51 0.7597402597402597
--------------------
Train 52 0.7850162866449512
Test 52 0.7597402597402597
--------------------
Train 53 0.7833876221498371
Test 53 0.7597402597402597
--------------------
Train 54 0.7833876221498371
Test 54 0.7597402597402597
--------------------
Train 55 0.7833876221498371
Test 55 0.7597402597402597
--------------------
Train 56 0.7850162866449512
Test 56 0.7597402597402597
--------------------
Train 57 0.7850162866449512
Test 57 0.7597402597402597
--------------------
Train 58 0.7850162866449512
Test 58 0.7597402597402597
--------------------
Train 59 0.7850162866449512
Test 59 0.7597402597402597
--------------------
Train 60 0.7850162866449512
Test 60 0.7597402597402597
--------------------
Train 61 0.7850162866449512
Test 61 0.7597402597402597
--------------------
Train 62 0.7850162866449512
Test 62 0.7597402597402597
--------------------
Train 63 0.7866449511400652
Test 63 0.7597402597402597
--------------------
Train 64 0.7866449511400652
Test 64 0.7597402597402597
--------------------
Train 65 0.7866449511400652
Test 65 0.7597402597402597
--------------------
Train 66 0.7866449511400652
Test 66 0.7597402597402597
--------------------
Train 67 0.7866449511400652
Test 67 0.7597402597402597
--------------------
Train 68 0.7866449511400652
Test 68 0.7597402597402597
--------------------
Train 69 0.7866449511400652
Test 69 0.7597402597402597
--------------------
Train 70 0.7866449511400652
Test 70 0.7597402597402597
--------------------
Train 71 0.7850162866449512
Test 71 0.7597402597402597
--------------------
Train 72 0.7850162866449512
Test 72 0.7532467532467533
--------------------
Train 73 0.7850162866449512
Test 73 0.7532467532467533
--------------------
Train 74 0.7850162866449512
Test 74 0.7467532467532467
--------------------
Train 75 0.7850162866449512
Test 75 0.7467532467532467
--------------------
Train 76 0.7850162866449512
Test 76 0.7532467532467533
--------------------
Train 77 0.7850162866449512
Test 77 0.7532467532467533
--------------------
Train 78 0.7850162866449512
Test 78 0.7532467532467533
--------------------
Train 79 0.7850162866449512
Test 79 0.7532467532467533
--------------------
Train 80 0.7850162866449512
Test 80 0.7532467532467533
--------------------
Train 81 0.7850162866449512
Test 81 0.7532467532467533
--------------------
Train 82 0.7850162866449512
Test 82 0.7532467532467533
--------------------
Train 83 0.7866449511400652
Test 83 0.7532467532467533
--------------------
Train 84 0.7866449511400652
Test 84 0.7532467532467533
--------------------
Train 85 0.7882736156351792
Test 85 0.7532467532467533
--------------------
Train 86 0.7866449511400652
Test 86 0.7532467532467533
--------------------
Train 87 0.7850162866449512
Test 87 0.7532467532467533
--------------------
Train 88 0.7833876221498371
Test 88 0.7532467532467533
--------------------
Train 89 0.7850162866449512
Test 89 0.7532467532467533
--------------------
Train 90 0.7850162866449512
Test 90 0.7532467532467533
--------------------
Train 91 0.7850162866449512
Test 91 0.7532467532467533
--------------------
Train 92 0.7833876221498371
Test 92 0.7532467532467533
--------------------
Train 93 0.7833876221498371
Test 93 0.7532467532467533
--------------------
Train 94 0.7833876221498371
Test 94 0.7532467532467533
--------------------
Train 95 0.7833876221498371
Test 95 0.7532467532467533
--------------------
Train 96 0.7833876221498371
Test 96 0.7532467532467533
--------------------
Train 97 0.7850162866449512
Test 97 0.7532467532467533
--------------------
Train 98 0.7866449511400652
Test 98 0.7532467532467533
--------------------
Train 99 0.7866449511400652
Test 99 0.7467532467532467
--------------------
Train 100 0.7850162866449512
Test 100 0.7467532467532467
--------------------
Train 101 0.7850162866449512
Test 101 0.7467532467532467
--------------------
Train 102 0.7850162866449512
Test 102 0.7467532467532467
--------------------
Train 103 0.7866449511400652
Test 103 0.7467532467532467
--------------------
Train 104 0.7866449511400652
Test 104 0.7402597402597403
--------------------
Train 105 0.7866449511400652
Test 105 0.7402597402597403
--------------------
Train 106 0.7866449511400652
Test 106 0.7402597402597403
--------------------
Train 107 0.7866449511400652
Test 107 0.7402597402597403
--------------------
Train 108 0.7866449511400652
Test 108 0.7402597402597403
--------------------
Train 109 0.7866449511400652
Test 109 0.7402597402597403
--------------------
Train 110 0.7882736156351792
Test 110 0.7402597402597403
--------------------
Train 111 0.7882736156351792
Test 111 0.7402597402597403
--------------------
Train 112 0.7882736156351792
Test 112 0.7402597402597403
--------------------
Train 113 0.7882736156351792
Test 113 0.7402597402597403
--------------------
Train 114 0.7882736156351792
Test 114 0.7402597402597403
--------------------
Train 115 0.7882736156351792
Test 115 0.7402597402597403
--------------------
Train 116 0.7899022801302932
Test 116 0.7402597402597403
--------------------
Train 117 0.7899022801302932
Test 117 0.7402597402597403
--------------------
Train 118 0.7899022801302932
Test 118 0.7402597402597403
--------------------
Train 119 0.7899022801302932
Test 119 0.7402597402597403
--------------------

In [36]:
model2=LogisticRegression()

In [37]:
model3=LogisticRegressionCV()

In [38]:
d=[(x_train,y_train),(x_test,y_test)]

In [39]:
def trainModel(model,d):
    model.fit(x_train,y_train)
    for x,y in d:
        print(model.score(x,y))

In [40]:
trainModel(model,d)

0.7899022801302932
0.7402597402597403

In [41]:
trainModel(model2,d)

0.7654723127035831
0.7337662337662337

In [42]:
trainModel(model3,d)

0.7768729641693811
0.7662337662337663

In [43]:
a = [(1,2),(3,4)]

for b, c in enumerate(a):
    if b == 0:
        print(b, a[0], c[0])
    else:
        print(b, a[1], c[1])

0 (1, 2) 1
1 (3, 4) 4

In [44]:
# 1. 전처리를 통해서 모델을 하나 만든다.
# 2. 전처리 결과와 모델을 저장한다.
# 3. real 데이터를 예측한다.

In [45]:
def ageRange(age):
    if 21<= age <30:
        return 1
    elif 31<= age <40:
        return 2
    elif 41<= age <50:
        return 3
    elif 51<= age <60:
        return 4
    elif 61<= age <70:
        return 5
    else:
        return 6

In [46]:
col_list=['Glucose','BloodPressure','SkinThickness','Insulin','BMI']

In [48]:
data=[]
for col in col_list:
    temp=[]
    df[col].fillna(df[col].median())
    temp.append(df[col].fillna(df[col].median()))
    data.append(temp)

In [49]:
data

[[0      148.0
  1       85.0
  2      183.0
  3       89.0
  4      137.0
         ...
  763    101.0
  764    122.0
  765    121.0
  766    126.0
  767     93.0
  Name: Glucose, Length: 768, dtype: float64],
 [0      72.0
  1      66.0
  2      64.0
  3      66.0
  4      40.0
         ...
  763    76.0
  764    70.0
  765    72.0
  766    60.0
  767    70.0
  Name: BloodPressure, Length: 768, dtype: float64],
 [0      35.0
  1      29.0
  2      29.0
  3      23.0
  4      35.0
         ...
  763    48.0
  764    27.0
  765    23.0
  766    29.0
  767    31.0
  Name: SkinThickness, Length: 768, dtype: float64],
 [0      125.0
  1      125.0
  2      125.0
  3       94.0
  4      168.0
         ...
  763    180.0
  764    125.0
  765    112.0
  766    125.0
  767    125.0
  Name: Insulin, Length: 768, dtype: float64],
 [0      33.6
  1      26.6
  2      23.3
  3      28.1
  4      43.1
         ...
  763    32.9
  764    36.8
  765    26.2
  766    30.1
  767    30.4
  Name: BMI, Length: 768, dtype: float64]]

In [50]:
def trainModel(model,d):
    model.fit(x_train,y_train)
    for x,y in d:
        print(model.score(x,y))

In [51]:
real = [1.,163.,72.,0.,0.,39.,1.222,33.]

In [52]:
real=np.asarray(real).reshape(1,-1)

In [53]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome', 'Age2'],
      dtype='object')

In [54]:
def ageRange(age):
    if 21<= age <30:
        return 1
    elif 31<= age <40:
        return 2
    elif 41<= age <50:
        return 3
    elif 51<= age <60:
        return 4
    elif 61<= age <70:
        return 5
    else:
        return 6

In [55]:
df=pd.DataFrame(real,columns=['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI', 'DiabetesPedigreeFunction', 'Age'])

In [56]:
df['Age2']=df['Age'].apply(ageRange)

In [57]:
with open('dict_tot.pkl','rb')as f:#### 저장한거 불러오기
    dict_tot=pickle.load(f)

In [58]:
dict_tot

{'Glucose': {1: 109.0, 2: 123.0, 3: 122.0, 4: 139.0, 5: 139.0, 6: 124.0},
 'BloodPressure': {1: 68.0, 2: 74.0, 3: 78.0, 4: 78.0, 5: 79.0, 6: 74.0},
 'SkinThickness': {1: 27.0, 2: 32.0, 3: 31.0, 4: 28.5, 5: 33.0, 6: 30.0},
 'Insulin': {1: 105.0, 2: 140.0, 3: 131.0, 4: 207.0, 5: 185.0, 6: 144.0},
 'BMI': {1: 31.6, 2: 32.0, 3: 34.0, 4: 33.3, 5: 28.8, 6: 32.3}}

In [59]:
df.loc[0,'SkinThickness']=dict_tot['SkinThickness'][df.loc[0]['Age2']]

In [60]:
for col in col_list:
    df.loc[0,col]=dict_tot[col][df.loc[0]['Age2']]

In [61]:
dict_tot

{'Glucose': {1: 109.0, 2: 123.0, 3: 122.0, 4: 139.0, 5: 139.0, 6: 124.0},
 'BloodPressure': {1: 68.0, 2: 74.0, 3: 78.0, 4: 78.0, 5: 79.0, 6: 74.0},
 'SkinThickness': {1: 27.0, 2: 32.0, 3: 31.0, 4: 28.5, 5: 33.0, 6: 30.0},
 'Insulin': {1: 105.0, 2: 140.0, 3: 131.0, 4: 207.0, 5: 185.0, 6: 144.0},
 'BMI': {1: 31.6, 2: 32.0, 3: 34.0, 4: 33.3, 5: 28.8, 6: 32.3}}

In [62]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Age2
0,1.0,123.0,74.0,32.0,140.0,32.0,1.222,33.0,2

In [63]:
df.drop('Age2', axis=1, inplace=True)

In [64]:
with open('diabet_model.pkl','rb') as f:
    model=pickle.load(f)

In [65]:
predict=model.predict(df)

In [66]:
if predict==0:
    print('당뇨가 없어요')
else:
    print('당뇨에요')

당뇨가 없어요

In [67]:
#왜 당뇨가 없죠?

In [68]:
import preprocessing as pre

In [69]:
pre.col_list

['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

In [ ]:
def prefunc():
    col_list=['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI']
    for col in col_list:
        df[col]=np.where(df[col]==0,np.NaN, df[col])
    df['Age2']=df['Age'].apply(ageRange)
    with open('dict_tot.pkl','rb') as f:
        dict_tot=pickle.load(f)
    for col in col_list:
        df.loc[0,col]=dict_tot[col][df.loc[0]['Age2']]
    df.drop('Age2', axis=1, inplace=True)
    return df