In [1]:
####pip install emoji emoji 패키지 설치하는 법

In [2]:
import emoji

In [3]:
 print(emoji.emojize("Python is fun :red_heart:", variant="emoji_type"))

Python is fun ❤️

In [4]:
from emoji import emojize #### emojiz 함수를 . 안찍고 바로 사용하는 법

In [5]:
emojize("Python is fun :red_heart:", variant="emoji_type")

'Python is fun ❤️'

In [6]:
####pip install pydataset

In [133]:
import pydataset as pds

In [134]:
pds.data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [135]:
data=pds.data()

In [136]:
data

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [137]:
data[data['dataset_id']=='mtcars']

   dataset_id                       title
47     mtcars  Motor Trend Car Road Tests

In [138]:
df=pds.data('mtcars')

In [139]:
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [140]:
df.shape

(32, 11)

In [141]:
df['am'].value_counts()

0    19
1    13
Name: am, dtype: int64

In [142]:
df.head(1)

            mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 3.0+ KB

In [144]:
len(df[(df['am']==0)&(df['gear']==4)])

4

In [127]:
df[(df['gear']>4) & (df['vs']==0) & (df['hp']>100)]

                 mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
Ford Pantera L  15.8    8  351.0  264  4.22  3.17  14.5   0   1     5     4
Ferrari Dino    19.7    6  145.0  175  3.62  2.77  15.5   0   1     5     6
Maserati Bora   15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8

In [128]:
len(df[(df['gear']>4) & (df['vs']==0) & (df['hp']>100)])# 변속기어가 수가 4이상 엔진형식이 v타입이면서 마력이 100이상인 차

3

In [129]:
df[(df['mpg']>=16) & (df['disp']<200) & (df['wt']<3.5)]#마일 당 갤런이 16이상 배기량이 200이하 차체중량이 3.5이하

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710      22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
Merc 240D       24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
Merc 230        22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
Merc 280        19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
Merc 280C       17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
Fiat 128        32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
Honda Civic     30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
Toyota Corona   21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
Fiat X1-9       27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
Porsche 914-2   26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
Ferrari Dino    19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
Volvo 142E      21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [130]:
len(df[(df['mpg']>=16) & (df['disp']<200) & (df['wt']<3.5)])

16

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame({'name':['김지훈','이유진','박동현','김민지'],
                 'english':[90,80,60,70],
                 'math':[50,60,100,20]})

In [ ]:
df['english'].sum()

In [ ]:
df['math'].mean()

In [ ]:
df.rename({'name':'이름'},axis=1)

In [ ]:
df2=df

In [ ]:
df=df.rename({'이름':'name'},axis=1)

In [ ]:
df2

In [ ]:
df3=df.copy()

In [ ]:
df['name']='예진'

In [ ]:
df3

# df 원본
# df2 그냥 변수명 복사/얕은 복사(shallow copy)
# df3 copy()/깊은 복사(deep copy)

In [78]:
id(df)

2288199455408

In [79]:
id(df2)

NameError: name 'df2' is not defined

In [80]:
id(df3)

NameError: name 'df3' is not defined

In [81]:
df=pd.DataFrame({'var1' : [4, 3, 8],
                 'var2' : [2, 6, 11]})

In [82]:
df

   var1  var2
0     4     2
1     3     6
2     8    11

In [83]:
df['var1_sum']=df['var1']+df['var2']

In [84]:
df['var1_sum']

0     6
1     9
2    19
Name: var1_sum, dtype: int64

In [85]:
df['var1_mean']=(df['var1']+df['var2'])/2

In [86]:
df['var1_mean']=(df['var1']+df['var2'])/2

In [87]:
df['var1_mean']

0    3.0
1    4.5
2    9.5
Name: var1_mean, dtype: float64

In [88]:
df['var2']

0     2
1     6
2    11
Name: var2, dtype: int64

In [89]:
import pydataset as pds

In [90]:
mpg=pds.data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [91]:
mpg=pds.data('mpg')

In [92]:
mpg['total']=(mpg['cty']+mpg['hwy'])/2

In [93]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

In [94]:
mpg['total'].mean()

20.14957264957265

In [95]:
len(mpg[mpg['total']>20])

123

In [96]:
def isPass(t):###시리즈에 값을 추가
    if t>20:
        return 'PASS'
    else:
        return "Fail"

In [97]:
mpg['test']=mpg['total'].apply(isPass)

In [98]:
mpg['test'].value_counts()

PASS    123
Fail    111
Name: test, dtype: int64

In [99]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total,test
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,PASS
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,PASS
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,PASS
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,PASS
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,PASS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,PASS
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,PASS
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,PASS
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,PASS
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,PASS

 ###  
      mpg['total']>=30 'A'  
      mpg['total']>=20 'B'
      else 'C'
      emg['grade']

In [ ]:
def GR(t):
    if t>=30:
        return "A"
    elif t>=20:
        return "B"
    else:
        return "C"

In [ ]:
mpg['grade']=mpg['total'].apply(GR)

In [ ]:
mpg['grade'].value_counts().sort_index()

In [ ]:
mpg['grade'].info

In [ ]:
len(mpg[mpg['total']>=30])

In [ ]:
len(mpg[mpg['total']>=20])

In [ ]:
len(mpg[mpg['total']<20])

In [ ]:
import numpy as np

In [ ]:
###

In [ ]:
mpg['test2']=np.where(mpg['total']>20,'PASS', 'FAIL')

In [ ]:
mpg['grade2']=np.where(mpg['total']>30,'A',
              np.where(mpg['total']>=20, 'B',
              np.where(mpg['total']>10,'C','D')))

In [ ]:
mpg['test']

In [ ]:
mpg['grade2']

In [ ]:
mpg['grade2'].value_counts()

In [ ]:
#### np.where(시리즈 조건문 ,

In [ ]:
mpg['grade3']=np.where(mpg['total']>=30,'A',
              np.where(mpg['total']>=20,'B','C'))

In [ ]:
mpg['grade3']

In [ ]:
mpg['grade3'].value_counts().sort_values()

In [ ]:
mpg['eco']=np.where(mpg['displ']<=1.5,'좋음',
           np.where(mpg['displ']>2.0,'나쁨','C'))

In [ ]:
mpg['eco'].value_counts()

In [ ]:
len(mpg[mpg['displ']<=1.5])

 ###   class-> compact, subcompact, 2seater->small /large

In [ ]:
def SZ(t):
    if (t == 'compact') or (t == 'subcompact') or t == ('2seater'):
        print( "SMALL")
    else:
        print( "LARGE")

In [ ]:
def SZ1(t):
    if t in ['compact','subcompact','2seater']:
        return 'SMALL'
    else:
        return "LARGE"

In [ ]:
mpg['class'].apply(SZ1)

In [ ]:
siz_1=mpg['class'].apply(SZ1)

In [ ]:
siz_1.value_counts()

In [ ]:
mpg['size2']=np.where(mpg['class'].isin(['compact','subcompact','2seater']),'SMALL','LARGE')

In [ ]:
mpg['size2'].value_counts()

In [ ]:
len(mpg[mpg['class'].isin(['compact','subcompact','2seater'])])

In [ ]:
mpg['size3']=np.where(mpg['class']=='compact'

In [22]:
import pandas as pd

In [56]:
data_1=pd.read_csv('midwest.csv')

In [57]:
a = 1

In [58]:
a = 3
a = 2

In [59]:
a

2

In [60]:
pd.DataFrame(data_1)

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,35.396784,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,16.549869,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,15.064584,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,24.995504,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,21.666382,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR

In [61]:
Data_1=data_1.rename({'poptotal':'total','popasian':'asian'}, axis=1,inplace=True)
Data_1=data_1.rename({'poptotal':'total','popasian':'asian'}, axis=1)

In [62]:
Data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PID                   437 non-null    int64
 1   county                437 non-null    object
 2   state                 437 non-null    object
 3   area                  437 non-null    float64
 4   total                 437 non-null    int64
 5   popdensity            437 non-null    float64
 6   popwhite              437 non-null    int64
 7   popblack              437 non-null    int64
 8   popamerindian         437 non-null    int64
 9   asian                 437 non-null    int64
 10  popother              437 non-null    int64
 11  percwhite             437 non-null    float64
 12  percblack             437 non-null    float64
 13  percamerindan         437 non-null    float64
 14  percasian             437 non-null    float64
 15  percother             437 non-null    float64
 16  popadults             437 non-null    int64
 17  perchsd               437 non-null    float64
 18  percollege            437 non-null    float64
 19  percprof              437 non-null    float64
 20  poppovertyknown       437 non-null    int64
 21  percpovertyknown      437 non-null    float64
 22  percbelowpoverty      437 non-null    float64
 23  percchildbelowpovert  437 non-null    float64
 24  percadultpoverty      437 non-null    float64
 25  percelderlypoverty    437 non-null    float64
 26  inmetro               437 non-null    int64
 27  category              437 non-null    object
dtypes: float64(15), int64(10), object(3)
memory usage: 95.7+ KB

In [64]:
Data_1['percent']=(Data_1['asian']/Data_1['total'])*100

In [65]:
Data_1['total']

0       66090
1       10626
2       14991
3       30806
4        5836
        ...
432    304715
433     46104
434     19385
435    140320
436     73605
Name: total, Length: 437, dtype: int64

In [66]:
Data_1['percent'].mean()

0.48724618343573406

In [74]:
import numpy as np

In [75]:
Data_1['size']=np.where(Data_1['percent']>Data_1['percent'].mean(),'LARGE','small')

In [76]:
Data_1['size']

0      small
1      small
2      small
3      small
4      small
       ...
432    LARGE
433    small
434    small
435    LARGE
436    LARGE
Name: size, Length: 437, dtype: object

In [67]:
def issize(percent,mean):
    if percent> mean:
        return 'LARGE'
    return 'SMALL'

In [69]:
Data_1['percent'].apply(issize, args=[Data_1['percent'].mean()])

0      SMALL
1      SMALL
2      SMALL
3      SMALL
4      SMALL
       ...
432    LARGE
433    SMALL
434    SMALL
435    LARGE
436    LARGE
Name: percent, Length: 437, dtype: object

In [70]:
Data_2=Data_1['percent'].apply(issize, args=[Data_1['percent'].mean()])

In [72]:
Data_2.value_counts()

SMALL    318
LARGE    119
Name: percent, dtype: int64

In [ ]:
,'asian_per'