In [2]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings(action='ignore')

from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [3]:
df=pd.read_csv('loan.csv')

In [4]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
df['Married']

In [7]:
null_col=['Gender','Married','Dependents','Self_Employed']

In [8]:
for col in null_col:
    df[col].fillna(df[col].mode()[0],inplace=True)

In [ ]:
df.isnull().sum()

In [9]:
df.LoanAmount=df.LoanAmount.fillna(df.LoanAmount.median())

In [10]:
df.Loan_Amount_Term=df.Loan_Amount_Term.fillna(df.Loan_Amount_Term.mode()[0])

In [11]:
df.Credit_History=df.Credit_History.fillna(df.Credit_History.mode()[0])

In [12]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
label1=LabelEncoder()

In [ ]:
### object들을 모두 int로 바꿔주기

In [ ]:
df.dtypes

In [ ]:
index=df.dtypes.index

In [ ]:
value=df.dtypes.values

In [ ]:
value

In [ ]:
null_col=[]
for i,j in zip(index,value):
    if j=='object':
        null_col.append(i)

In [ ]:
null_col

In [ ]:
for col in null_col[1:]:
    #print(col)
    label1=LabelEncoder()
    df[col]=label1.fit_transform(df[col])

In [ ]:
df

In [ ]:
X=df.drop(['Loan_ID','Loan_Status'],axis=1)
Y=df['Loan_Status']

In [ ]:
Y

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [ ]:
model=SVC(C=20)

In [ ]:
scaler=MinMaxScaler()

In [ ]:
x_train=scaler.fit_transform(x_train)

In [ ]:
x_test=scaler.transform(x_test)

In [ ]:
model.fit(x_train,y_train)

In [ ]:
model.score(x_train,y_train)

In [ ]:
model.score(x_test,y_test)

-----------------------------

In [ ]:
null_col

In [13]:
null_dict={} # null list에 education이랑 property area가 없어서 혹시나 추가함!
null_list=['Gender','Married','Dependents','Self_Employed', 'Education', 'Property_Area']
for col in null_list:
    null_dict[col]=df[col].mode()[0]
    
null_dict['LoanAmount']=df['LoanAmount'].median()
null_dict['Loan_Amount_Term']=df['Loan_Amount_Term'].mode()[0]
null_dict['Credit_History']=df['Credit_History'].mode()[0]

In [ ]:
null_col

In [ ]:
null_dict # 여기서 라벨 인코딩 한 다음의 값을 넣으면 안 됐던 거 같아!
# 사유: 새 데이터 추가해서 머신러닝 돌릴 때 mode값 바뀌는 거 확인하려고 만드는 거였던 거 같아서

In [14]:
with open('null_dict.pkl','wb') as f:
    pickle.dump(null_dict,f)

In [ ]:
with open('model.pkl','wb') as f:
    pickle.dump(model,f)

In [ ]:
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

------

여기서부터 수정해서 리얼데이터 돌려봤어

In [15]:
obj_col=['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [ ]:
label

In [16]:
for col in obj_col:
#    print(col)
    label=LabelEncoder()
    df[col]=label.fit_transform(df[col])
    
    filename='label_'+col+'.pkl'
    with open(filename,'wb') as f:
        pickle.dump(label,f)

In [17]:
real = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [18]:
real = np.array(real).reshape(1,-1)

In [19]:
df_real = pd.DataFrame(real, columns = ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [20]:
df_real

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [21]:
obj_col=['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

for col in obj_col:
    filename='label_'+col+'.pkl'
    
    with open(filename, 'rb') as f:
        label_col = pickle.load(f) 
        
    df_real[col] = label_col.transform(df_real[col])

In [22]:
df_real

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,1,1,2,1,0,4288,3263.0,133.0,180.0,1.0,2

In [23]:
label_Gender # 이건 왜 define 되지 않는 걸까 생각을 해봤는데 말이야...
# 피클 로드가 for문 안에 들어가 있어서가 아닐까 생각 중이야

NameError: name 'label_Gender' is not defined