In [2]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings(action='ignore')
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [3]:
real = ['LP002990', 'Female', 'No', '0', 'Graduate', 'Yes', 4583, 0.0, 133.0, 360.0, 0.0, 'Semiurban']

In [4]:
real2 = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [5]:
real3 = ['LP001345', None, 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [6]:
real=np.asarray(real).reshape(1,-1)

In [7]:
real2=np.asarray(real2).reshape(1,-1)

In [8]:
real3=np.asarray(real3).reshape(1,-1)

In [9]:
df1=pd.DataFrame(real,columns=['Loan_ID','Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [10]:
df2=pd.DataFrame(real2,columns=['Loan_ID','Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [11]:
df3=pd.DataFrame(real3,columns=['Loan_ID','Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [12]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [13]:
with open('model.pkl','rb') as f:
    model=pickle.load(f)

In [14]:
model

SVC(C=20)

In [15]:
with open('scaler.pkl','rb') as f:
    scaler=pickle.load(f)

In [16]:
scaler

MinMaxScaler()

In [21]:
with open ('null_dict.pkl', 'rb') as f :
    null_dict = pickle.load(f)

In [22]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'LoanAmount': 128.0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0}

In [24]:
null_col = ['Gender', 'Married', 'Dependents','Self_Employed']
for col in null_col :
    df3[col].fillna(null_dict[col], inplace = True)

In [25]:
df3

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [26]:
obj_col=['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [27]:
for col in obj_col:
    filename='label_'+ col +'.pkl'
    #print(filename)
    with open(filename,'rb') as f:
        label=pickle.load(f)
    df3[col]=label.transform(df3[col])

ValueError: y contains previously unseen labels: 'Male'

In [19]:
label

LabelEncoder()